<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home</title>
  </head>
  <frameset cols="20%,*">
    <frame name="list" src="/apidoc/class.html"></frame>
    <frame name="main" src="/apidoc/main.html"></frame>
  </frameset>
</html>
